/* styles.css */

.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .chessboard {
    width: 640px;
    height: 640px;
    margin: auto;
    border: 25px solid #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
  }
  
  .sub-grid {
    width: 80px;
    height: 80px;
  }
  
  .even {
    background: white;
  }
  
  .odd {
    background: rgb(145, 141, 141);
  }